# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
stats.html
tests/e2e/screenshots/

# dependencies
node_modules
.DS_Store

# local env files
env/local.*
env/*.local

# Nuxt build
.nuxt

# Nuxt generate
dist

# Dev tools
.tern-port

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
