.columns {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.column {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@include touch {
  .container {
    padding: 0 23px;
    margin: 0;
    width: 100% !important;
    max-width: none !important;
  }
}
