$colors: (
  bg-light-grey: #F8F9FB,
  light-grey: #ecf0f1,
  dark-grey: #4a4a4a,
  purple: #4b0472,
  white: #ecf0f1,
  blue: #209cee,
  dark-blue: #2c3e50,
  dark: #2c3e50,
  light-blue: #f6f9fc,
  cyan: #209cee,
  green: #1ccc70,
  red: #ff385f,
  orange: #fa492b,
  yellow: #ffdd57
);

$bg-light-grey: map-get($colors, bg-light-grey);
$light-grey: map-get($colors, light-grey);
$dark-grey: map-get($colors, dark-grey);
$purple: map-get($colors, purple);
$white: map-get($colors, white);
$blue: map-get($colors, blue);
$dark-blue: map-get($colors, dark-blue);
$light-blue: map-get($colors, light-blue);
$cyan: map-get($colors, cyan);
$green: map-get($colors, green);
$red: map-get($colors, red);
$orange: map-get($colors, orange);
$yellow: map-get($colors, yellow);

$primary: map-get($colors, purple);
$warning: map-get($colors, yellow);
$danger: map-get($colors, red);
$success: map-get($colors, green);
$link: map-get($colors, blue);
$info: map-get($colors, cyan);

$heading-font-family: 'din-2014', 'Open Sans', 'Helvetica Neue', sans-serif;
