.columns.is-vstart {
  align-items: flex-start;
}

.columns.is-vend {
  align-items: flex-end;
}

.v-color-white {
  color: var(--endpass-ui-color-white);
}

@include tablet {
  .columns.is-tablet-reverse {
    flex-direction: row-reverse;
  }
}
